# dependencies
/node_modules

# next
/.next
/out

# production
/build

# local env
.env
.env.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
*.mp4
/public/uploads/

# prisma sqlite
/prisma/dev.db
/prisma/dev.db-journal
/prisma/prisma/dev.db
/prisma/prisma/dev.db-journal

# prisma engine temp artifacts on Windows
src/generated/prisma/query_engine-windows.dll.node.tmp*
